# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Stata

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. ggplot2
3. dplyr

| Data Science Tools |
| ------------------ |
| RStudio |
| TensorFlow |
| Apache Hadoop |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python:
# 3+5
# 6-11

In [1]:
# THis is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### **Objectives:**

- Markdown cells
- Code cells
- Creating a table ina markdown cell
- Ordered and Unordered lists
- Executing arithmentic functions

## Author
Tanya